---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/thespokentour/media/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"id": "1515615441153982196_4690018464", "code": "BUIjDayFH70",
        "user": {"id": "4690018464", "full_name": "", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent-dft4-3.cdninstagram.com/t51.2885-15/s150x150/e35/c135.0.810.810/18512698_287484301702571_689507216406872064_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent-dft4-3.cdninstagram.com/t51.2885-15/s320x320/e35/c135.0.810.810/18512698_287484301702571_689507216406872064_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent-dft4-3.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.810.810/18512698_287484301702571_689507216406872064_n.jpg"}},
        "created_time": "1494895461", "caption": {"id": "17881055164044143", "text":
        "Restored by the mystical spirit energy of Mt. Sopris (pictured behind us)
        and a metric ton of mac''n''cheese, we finished up Episode 2 of our #podcast!
        \nIt''s available now on our website (link in bio), SoundCloud, and iTunes.
        Give it a listen and get at us with some feedback! \nNow on to conquer the
        San Juan''s...or just try to survive them at least. \n#DTeam #DenverToPatagonia
        #bikepacking #biketouring #soundcloud", "created_time": "1494895461", "from":
        {"id": "4690018464", "full_name": "", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour"}}, "likes": {"data": [{"id": "16759958", "full_name":
        "Allie Finnegan", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/13267507_1111157252255769_2024515740_a.jpg",
        "username": "afinnn"}, {"id": "181578457", "full_name": "Stephen Stanis",
        "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/14359938_255021131565381_3813671121916526592_a.jpg",
        "username": "stanisbaratheon1"}, {"id": "1446577497", "full_name": "Halter
        Cunningham", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/17076220_404484983263975_4955595706359349248_a.jpg",
        "username": "haltwhogoesthur"}, {"id": "220959037", "full_name": "Tori Lage",
        "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/17438221_1182736828505887_2613180367720415232_a.jpg",
        "username": "victoriaalage"}], "count": 168}, "comments": {"data": [{"id":
        "17855928154175039", "text": "You guys killed episode 2. Keep up the story
        telling.", "created_time": "1494896223", "from": {"id": "250491199", "full_name":
        "Ben Broos", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/11350745_593662514105077_249833583_a.jpg",
        "username": "bcbroos"}}, {"id": "17856074296192621", "text": "dope thespokentour",
        "created_time": "1494920399", "from": {"id": "1092644727", "full_name": "Belly",
        "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/11910344_755292157932813_1198281681_a.jpg",
        "username": "andrew.belly"}}, {"id": "17869207228128862", "text": "\ud83d\udc4b",
        "created_time": "1494947220", "from": {"id": "4757002592", "full_name": "GET
        GIFT CARDS CODE \ud83c\udf89", "profile_picture": "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/18299791_1888480594730603_1266200025793298432_n.jpg",
        "username": "travelgeopix"}}], "count": 3}, "can_view_comments": true, "can_delete_comments":
        false, "type": "image", "link": "https://www.instagram.com/p/BUIjDayFH70/",
        "location": null, "alt_media_url": null}, {"id": "1513321349611103952_4690018464",
        "code": "BUAZb_ilabQ", "user": {"id": "4690018464", "full_name": "", "profile_picture":
        "https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent-dft4-3.cdninstagram.com/t51.2885-15/s150x150/e15/c0.90.720.720/18444151_427283007648611_604520462131449036[...]
