---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/thespokentour/media/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "items": [{"id": "1455919650315878613_4690018464",
        "caption": {"from": {"full_name": "", "profile_picture": "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour", "id": "4690018464"}, "text": "The adventure starts
        May 8th as we bicycle from #DenverToPatagonia!", "created_time": "1487779168",
        "id": "17850670267147512"}, "link": "https://www.instagram.com/p/BQ0dzVKlsDV/",
        "alt_media_url": null, "user": {"full_name": "", "profile_picture": "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour", "id": "4690018464"}, "likes": {"count": 5, "data":
        [{"full_name": "Tiffany Bush | Yoga Teacher", "profile_picture": "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/s150x150/13703103_1831125547118538_1992668786_a.jpg",
        "username": "peacewarriorfitness", "id": "434830368"}, {"full_name": "", "profile_picture":
        "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/s150x150/16908900_863383370431397_7166125802067591168_a.jpg",
        "username": "thespokentour", "id": "4690018464"}, {"full_name": "Tyler Michael",
        "profile_picture": "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/11375832_1484658395186636_1543664617_a.jpg",
        "username": "t_y_l_e_r_michael", "id": "8600475"}, {"full_name": "Elle.b Salon",
        "profile_picture": "https://scontent-dft4-2.cdninstagram.com/t51.2885-19/11098716_953885117964574_61517949_a.jpg",
        "username": "ellebsalon", "id": "2038017580"}]}, "can_delete_comments": false,
        "code": "BQ0dzVKlsDV", "created_time": "1487779168", "can_view_comments":
        true, "location": {"name": "Denver, Colorado"}, "type": "image", "images":
        {"low_resolution": {"width": 320, "height": 320, "url": "https://scontent-dft4-2.cdninstagram.com/t51.2885-15/s320x320/e35/16906259_1432873057012165_5159932404713914368_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent-dft4-2.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/16906259_1432873057012165_5159932404713914368_n.jpg"},
        "thumbnail": {"width": 150, "height": 150, "url": "https://scontent-dft4-2.cdninstagram.com/t51.2885-15/s150x150/e35/16906259_1432873057012165_5159932404713914368_n.jpg"}},
        "comments": {"count": 0, "data": []}}], "more_available": false}'
  recorded_at: Sun, 26 Feb 2017 15:47:12 GMT
[...]
